    <br>
    <div class="display" style="align-items: center;  margin: auto;" *ngIf="login.islogined()">
        <select [(ngModel)]="defaultCategory" name="category" class="form-select form-select-sm">
        <option value="All">ALL</option>
        <option  *ngFor="let cat of category" value="{{cat}}">{{cat}}</option>
        </select>
    </div>
    <h1 *ngIf="mylength && login.islogined()" style="text-align: center; margin-top: 10rem;"> No Product Available</h1>
    <br><br>
    <table style="width: 95%; left:2.5%; position: absolute;" *ngIf="!mylength && login.islogined()">
        <thead style="text-align: center;">
            <tr>
                <th>Product Name</th>
                <th>Product Category</th>
                <th>Product Features</th>
                <th>Product Validity</th>
                <th>Product Recommended</th>
                <th>Product Subproducts</th>
                <th>Choice</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let l of myproducts | products: defaultCategory">
            <tr>
                <td>{{l.pname}}</td>
                <td>{{l.category}}</td>
                <td>
                    <ul *ngFor="let l2 of l.features">
                        <li>{{l2}}</li>
                    </ul>
                </td>
                <td>{{l.validity}}</td>
                <td>{{l.recommended}}</td>
                <td>
                    <ul *ngFor="let l1 of l.subproducts">
                        <li>{{l1.sname}}</li>
                    </ul>
                </td>
                <td>
                <button type="submit" name="oper" [routerLink]="['/editproduct',l.pname,l.category]" class="btn-btn-primary">Edit</button>
                <button type="submit" class="btn-btn-primary" (click)="remove(l.pname,l.category)" >Delete</button>
    
                </td>
            </tr>
        </ng-container>
        </tbody>
    </table>


    
    <div class="body" *ngIf="!login.islogined()">
        {{navigateHome()}}
    </div>

