<div class="body">
    <div class="wrapper" *ngIf="!displayPassword">
        <form #mylogin="ngForm" (ngSubmit)="datasubmitted()">
            <h1>Forget Password</h1>
            <div class="input-box" style="margin-bottom: 0px;">
                <input type="email" name="email" [(ngModel)]="email"  placeholder="Username" #mail="ngModel" [class.is-invalid]="mail.touched && mail.invalid" required>
                <div *ngIf="mail.touched">
                    <div *ngIf="mail.invalid">
                        <small class="text-danger" *ngIf="mail.errors?.['required']">Email can't be empty</small>
                    </div>
                </div>
                <i class="bx bxs-user"></i>
                <button type="submit" class="btn-link" (click)="generateOtp()" >Get Otp</button>
                <input type="text" name="otp" [(ngModel)]="otp"   placeholder="Enter the otp" required [disabled]="!hasotp" style="margin-bottom: 30px;">
                <button type="submit" class="btn" [disabled]="mylogin.form.invalid || !hasotp">Reset Password</button>
            </div> 
        </form>
    </div>
    <div class="wrapper" *ngIf="displayPassword">
        <form #myreset="ngForm" (ngSubmit)="changePassword()" >
            <h1>Reset Password</h1>
            <div class="input-box" style="margin-bottom: 0px;">
                <label for="">Enter the New Password</label>
                <input type="password" name="password" [(ngModel)]="password" #pass="ngModel" required [class.is-invalid]="pass.touched && pass.invalid" maxlength="15" minlength="8" >
                <div *ngIf="pass.touched">
                    <div *ngIf="pass.invalid">
                        <small class="text-danger" *ngIf="pass.errors?.['required']">Password can't be empty</small>
                        <small class="text-danger" *ngIf="pass.errors?.['maxlength']">Password should be maximum 15 characters</small>
                        <small class="text-danger" *ngIf="pass.errors?.['minlength']">Password should be minimum 8 characters</small>
                    </div>
                </div>
                <Label style="margin-top: 20px;">Re-Enter the Password</Label>
                <input type="password" name="Password1" [(ngModel)]="password1" #pass1="ngModel" (change)="checkPassword()" (blur)="checkPassword()" [class.is-invalid]="pass1.touched && pass1.invalid" required  >
                <div *ngIf="pass1.touched">
                    <div *ngIf="pass1.invalid">
                        <small class="text-danger" *ngIf="pass1.errors?.['required']">Password can't be empty <br></small>
                    </div>
                    <small class="text-danger" *ngIf="!checkPassword()">Password shouldn't match</small>
                </div>
                <button type="submit" class="btn" [disabled]="myreset.form.invalid  || !checkPassword()"  style="margin-top: 10px;">Change Password</button>
            </div> 
        </form>
    </div>
</div>


    
    
    
    
    