<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" *ngIf="login.islogined()">
    <div class="carousel-inner">
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../assets/img/recharge.jpg" class="d-block w-100" alt="recharge">
      </div>
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="https://jep-asset.akamaized.net/cms/assets/airfiber/JioAirFiber-Homepage-Desktop1.webp" class="d-block w-100" alt="discount">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://img.freepik.com/premium-vector/set-template-coupon-vector-illustration_206725-611.jpg?size=626&ext=jpg&ga=GA1.1.1249256087.1696499094&semt=ais" class="d-block w-100" alt="coupon">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<form >
<div class="container group">
    <div class="grid-1-5">
        <h3><sup>$</sup>170<span class="small">/1 month</span></h3><br>
        <p>1 GB/Day</p>
        <p>Unlimited Calls</p>
        <p>100 SMS/Day</p>
        <br>
        <ul>
            <li>Free Hellotunes</li>
            <li>Wynks App</li>
        </ul>
    </div>
    <div class="grid-1-5">
        <h3><sup>$</sup>210<span class="small">/1 month</span></h3><br>
        <p>1.5 GB/Day</p>
        <p>Unlimited Calls</p>
        <p>100 SMS/Day</p><br>
        <ul>
            <li>Free Hellotunes</li>
            <li>Xstream App</li>
            <li>Wynk App</li>
        </ul>		
    </div>
    <div class="grid-1-5">
        <h3><sup>$</sup>320<span class="small">/1 month</span></h3><br>
        <p>3 GB/Day</p>
        <p>Unlimited Calls</p>
        <p>200 SMS/Day</p><br>
        <ul>
            <li>Free Hellotunes</li>
            <li>Xstream App</li>
            <li>Wynk App</li>
            <li>Hotstar Subscription</li>
        </ul>	
    </div>
    <div class="grid-1-5">
        <h3><sup>$</sup>600<span class="small">/1 month</span></h3><br>
        <p>Unlimited data</p>
        <p>@ 60 Mbps</p><br>
        <ul>
            <li>Discovery+</li>
            <li>Hoichoi</li>
            <li>Xstream App</li>
            <li>Hotstar Subscription</li>
        </ul>	
    </div>
    <div class="grid-1-5">
        <h3><sup>$</sup>800<span class="small">/1 month</span></h3><br>
        <p>Unlimited data</p>
        <p>@ 80 Mbps</p><br>
        <ul>
            <li>Discovery+</li>
            <li>Hoichoi</li>
            <li>Xstream App</li>
            <li>Hotstar Subscription</li>
            <li>Zee5</li>
        </ul>	
    </div>
</div>
</form>
<br>

<br>
<footer class="bg-light text-center text-lg-start" *ngIf="login.islogined()">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: black; color: white; text-align: center;">
    © 2023 Copyright:product catalog.com
  </div>
  <!-- Copyright -->
</footer>


<div class="body" *ngIf="!login.islogined()">
  {{navigateHome()}}
</div>