<div class="body">
    <div class="wrapper">
        <form #myregister="ngForm" (ngSubmit)="datasubmit()">
            <h1>Create Vendor</h1>
            <div class="input-box">
                <label for="">First Name</label>
                <input type="text" name="fname" [(ngModel)]="register.firstname" #fname="ngModel" required [class.is-invalid]="fname.invalid && fname.touched" pattern="[A-Za-z\s]+" minlength="3">
                <div *ngIf="fname.touched">
                    <div *ngIf="fname.invalid">
                        <small class="text-danger" *ngIf="fname.errors?.['required']">First name can't be empty </small>
                        <small class="text-danger" *ngIf="fname.errors?.['pattern']">First name should be alphabets <br></small>
                        <small class="text-danger" *ngIf="fname.errors?.['minlength']">First name should be atleast 3 characters </small>
                    </div>
                </div>
            </div>
            <div class="input-box">
                <label for="">Last Name</label>
                <input type="text" name="lname" [(ngModel)]="register.lastname" #lname="ngModel" required [class.is-invalid]="lname.invalid && lname.touched" pattern="[A-Za-z\s]+" minlength="3">
                <div *ngIf="lname.touched">
                    <div *ngIf="lname.invalid">
                        <small class="text-danger" *ngIf="lname.errors?.['required']">Last name can't be empty </small>
                        <small class="text-danger" *ngIf="lname.errors?.['pattern']">Last name should be alphabets <br></small>
                        <small class="text-danger" *ngIf="lname.errors?.['minlength']">Last name should be atleast 3 characters </small>
                    </div>
                </div>
            </div>
            <div class="input-box">
                <label for="">Age</label>
                <input type="text" name="age" [(ngModel)]="register.age"  #age="ngModel" required [class.is-invalid]="age.invalid && age.touched && haserror" pattern="[0-9]+" (input)="ageValidation(age.value)" >
                <div *ngIf="age.touched">
                    <div *ngIf="age.invalid">
                        <small class="text-danger" *ngIf="age.errors?.['required']">Age can't be empty </small>
                        <small class="text-danger" *ngIf="age.errors?.['pattern']">Age should be numbers <br></small>
                    </div>
                    <small class="text-danger" *ngIf="age.touched && !haserror">Age should be greaterthan 18 and less than 100</small>
                </div>
            </div>
            <div class="input-box">
                <label for="">Gender</label>
                <select class="form-select" [(ngModel)]="register.gender" name="gender" #gender="ngModel" [class.is-invalid]="gender.invalid && gender.touched && haserror2" (blur)="validate(gender.value)" (change)="validate(gender.value)" required>
                    <option value="default">---Select the Category---</option>
                    <option *ngFor="let gen of genderlist" value="{{gen}}">{{gen}}</option>  
                  </select>
                  <div *ngIf="gender.touched">
                    <div *ngIf="gender.invalid">
                    <small class="text-danger" *ngIf="gender.errors?.['required']">Gender Can't be empty</small>     
                    </div>     
                </div>     
                  <small class="text-danger" [class.d-none]="gender.untouched || !haserror2">Select valid Gender</small>  
            </div>
            <div class="input-box">
                <label for="">Address</label>
                <input type="text" name="address" [(ngModel)]="register.address" #address="ngModel" required [class.is-invalid]="address.invalid && address.touched" pattern="[A-Za-z0-9.-\s]+" minlength="15" >
                <div *ngIf="address.touched">
                    <div *ngIf="address.invalid">
                        <small class="text-danger" *ngIf="address.errors?.['required']">Address can't be empty </small>
                        <small class="text-danger" *ngIf="address.errors?.['pattern']">Address should be alphabets or number can include space, dot,- <br></small>
                        <small class="text-danger" *ngIf="address.errors?.['minlength']">Address should be atleast 15 characters </small>
                    </div>
                </div>
            </div>
            <div class="input-box">
                <label for="">Mobile no</label>
                <input type="tel" name="phno" [(ngModel)]="register.phno" #phno="ngModel" [class.is-invalid]="phno.invalid && phno.touched" required pattern="[6789][0-9]{9}">
                <div *ngIf="phno.touched">
                    <div *ngIf="phno.invalid">
                        <small class="text-danger" *ngIf="phno.errors?.['required']">Mobile Number can't be empty </small>
                        <small class="text-danger" *ngIf="phno.errors?.['pattern']">Enter the correct phone number <br></small>
                    </div>
                </div>
            </div>
            <div class="input-box">
                <label for="">Email</label>
                <input type="email" name="email" [(ngModel)]="register.email" #email="ngModel"  [class.is-invalid]="email.invalid && email.touched" required pattern="[A-Za-z0-9._+-]+@[A-Za-z]+[.][A-Za-z]{2,}">
                <div *ngIf="email.touched">
                    <div *ngIf="email.invalid">
                        <small class="text-danger" *ngIf="email.errors?.['required']">Email Id can't be empty </small>
                        <small class="text-danger" *ngIf="email.errors?.['pattern']">Enter the valid email Id  <br></small>
                    </div>
                </div>
            </div>

            <div class="input-box">
                <label for="">Password</label>
                <input type="password" name="password" [(ngModel)]="register.password" #password="ngModel" required [class.is-invalid]="password.invalid && password.touched" pattern=".{8,}">
                <div *ngIf="password.touched">
                    <div *ngIf="password.invalid">
                        <small class="text-danger" *ngIf="password.errors?.['required']">Password can't be empty </small>
                        <small class="text-danger" *ngIf="password.errors?.['pattern']">password should be atleast 8 characters <br></small>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn" [disabled]="myregister.form.invalid || haserror2 || register.age <=17">Add</button>
        </form>
    </div>
</div>