<div class="search-box" style="margin-top: 35px;" *ngIf="login.islogined()">
    <div class="search-input">
      <input type="search" name="price" [(ngModel)]="price" placeholder="Search product by price" />
    </div>
    <button (click)="dataSubmitted()" style="height: 65px; border-radius: 30px; ">Search</button>
</div>


<br><br>
<table style="width: 95%; left:2.5%; position: absolute;" *ngIf="mySearch && login.islogined()">
  <thead style="text-align: center;">
      <tr>
          <th>Product Name</th>
          <th>Product Category</th>
          <th>Product Features</th>
          <th>Product Validity</th>
          <th>Product Recommended</th>
          <th>Product Subproducts</th>
          <th>Choice</th>
      </tr>
  </thead>
  <tbody>
      <ng-container *ngFor="let l of myList">
      <tr>
          <td>{{l.pname}}</td>
          <td>{{l.category}}</td>
          <td>
              <ul *ngFor="let l2 of l.features">
                  <li>{{l2}}</li>
              </ul>
          </td>
          <td>{{l.validity}}</td>
          <td>{{l.recommended}}</td>
          <td>
              <ul *ngFor="let l1 of l.subproducts">
                  <li>{{l1.sname}}</li>
              </ul>
          </td>
          <td>
          <button type="submit" name="oper" [routerLink]="['/editproduct',l.pname,l.category]" class="btn-btn-primary">Edit</button>
          <button type="submit" class="btn-btn-primary" (click)="remove(l.pname,l.category)" >Delete</button>

          </td>
      </tr>
  </ng-container>
  </tbody>
</table>

<div class="body" *ngIf="!login.islogined()">
    {{navigateHome()}}
</div>