.search-box {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    position: relative;
    top: 10px;
    left: 130px;
    padding-right:50px;
  
  }
  .search-input {
    /* background-color: blue; */
    display: flex;
    width: 100%;
  }
  .search-input input {
    width: 100%;
    display: flex;
    outline: none;
    border: 2px solid black;
    border-radius: 30px;
    padding: 20px 0px 20px 20px;
    background-color: #fff;
    font-size: 16px;
    font-weight: lighter;
    color: black;
    border: 1px solid black;
  }
  .search-input input::placeholder {
    color:black;
    text-transform: capitalize;
    word-spacing: 2px;
  }
  .search-btn {
    width: 100%;
    max-width: 45px;
    display: flex;
    align-items: center;
    opacity: 1;
  
    /* background-color: red; */
  }
  .search-btn button {
    position: relative;
    right: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    border-radius: 100%;
    padding: 8px 0px;
    margin: auto;
    cursor: pointer;
  }
  .search-btn button:active {
    background-color: rgb(205, 205, 205);
  }
  .search-btn ion-icon {
    color: orange;
    font-weight: 900;
    font-size: 26px;
  }
  @media (max-width: 800px) {
    .search-box {
      width: 100%;
      max-width: 760px;
    }
  }
  @media (max-width: 560px) {
    .search-box {
      width: 100%;
      max-width: 480px;
    }
  }
  @media (max-width: 300px) {
    .search-box {
      width: 100%;
      max-width: 250px;
    }
    .search-btn {
      opacity: 0;
    }
  }


  table,th,td{
    border: 2px solid black;
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  tr{
    width: 50px;
  }
  
  button{
    background-color: black;
    color: white;
  }