<div class="body">
    <div class="wrapper">
        <form #mySubProduct="ngForm" (ngSubmit)="datasubmit()">
            <h1>Add Sub-Product</h1>
            <div class="input-box">
                <label for="">Sub-Product Name</label>
                <input type="text" name="name" [(ngModel)]="subproduct.sname" #sname="ngModel" required [class.is-invalid]="sname.invalid && sname.touched" pattern="[A-Za-z0-9\s]{4,}" minlength="4" maxlength="40">
                <div *ngIf="sname.touched">
                    <div *ngIf="sname.invalid">
                        <small class="text-danger" *ngIf="sname.errors?.['required']">Sub-Product name can't be empty </small>
                        <small class="text-danger" *ngIf="sname.errors?.['pattern']">Sub-Product name should be alphabets <br></small>
                        <small class="text-danger" *ngIf="sname.errors?.['minlength']">Sub-Product name should be atleast 5 characters <br></small>
                        <small class="text-danger" *ngIf="sname.errors?.['maxlength']">Sub-Product name should not more than 15 characters <br></small>
                    </div>
                </div>
            </div>
            <div class="input-box">
                <label for="">Sub-Product Description</label>
                <input type="text" name="desp" [(ngModel)]="subproduct.desp" #desp="ngModel" required [class.is-invalid]="desp.invalid && desp.touched" pattern="[A-Za-z0-9\s]{5,}" minlength="10" maxlength="60">
                <div *ngIf="desp.touched">
                    <div *ngIf="desp.invalid">
                        <small class="text-danger" *ngIf="desp.errors?.['required']">Sub-Product description can't be empty </small>
                        <small class="text-danger" *ngIf="desp.errors?.['pattern']">Sub-Product description should be alphabets <br></small>
                        <small class="text-danger" *ngIf="desp.errors?.['minlength']">Sub-Product description should be atleast 10 characters <br></small>
                        <small class="text-danger" *ngIf="desp.errors?.['maxlength']">Sub-Product description should not more than 20 characters <br></small>
                    </div>
                </div>
            </div>
            <div class="input-box">
                <label for="">Sub-Product validity</label>
                <input type="text" name="validity" [(ngModel)]="subproduct.validity" #validity="ngModel" required [class.is-invalid]="validity.invalid && validity.touched" pattern="[A-Za-z0-9\s]{5,}" minlength="5" maxlength="55">
                <div *ngIf="validity.touched">
                    <div *ngIf="validity.invalid">
                        <small class="text-danger" *ngIf="validity.errors?.['required']">Sub-Product validity can't be empty </small>
                        <small class="text-danger" *ngIf="validity.errors?.['pattern']">Sub-Product validity should be alphabets <br></small>
                        <small class="text-danger" *ngIf="validity.errors?.['minlength']">Sub-Product validity should be atleast 5 characters <br></small>
                        <small class="text-danger" *ngIf="validity.errors?.['maxlength']">Sub-Product validity should not more than 15 characters <br></small>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn" [disabled]="mySubProduct.form.invalid">Add</button>
        </form>
    </div>
</div>
    
    
    