<form (ngSubmit)="payment()">
    <br>
    <div class="container group">
        <div class="grid-1-5">
            <h2>Consumer </h2>
            <h3><sup>$</sup>170<span class="small">/1 month</span></h3><br>
            <p>1 GB/Day</p>
            <p>Unlimited Calls</p>
            <p>100 SMS/Day</p>
            <br>
            <ul>
                <li>Free Hellotunes</li>
                <li>Wynks App</li>
            </ul>
            <button type="submit" class="button" >Buy</button>
        </div>
        <div class="grid-1-5">
            <h2>Consumer </h2>
            <h3><sup>$</sup>210<span class="small">/1 month</span></h3><br>
            <p>1.5 GB/Day</p>
            <p>Unlimited Calls</p>
            <p>100 SMS/Day</p><br>
            <ul>
                <li>Free Hellotunes</li>
                <li>Xstream App</li>
                <li>Wynk App</li>
            </ul>		
            <button type="submit" class="button" >Buy</button>	
        </div>
        <div class="grid-1-5">
            <h2>Small Business </h2>
            <h3><sup>$</sup>320<span class="small">/1 month</span></h3><br>
            <p>3 GB/Day</p>
            <p>Unlimited Calls</p>
            <p>200 SMS/Day</p><br>
            <ul>
                <li>Free Hellotunes</li>
                <li>Xstream App</li>
                <li>Wynk App</li>
                <li>Hotstar Subscription</li>
            </ul>	
            <button type="submit" class="button" >Buy</button>		
        </div>
        <div class="grid-1-5">
            <h2>Small Business </h2>
            <h3><sup>$</sup>380<span class="small">/1 month</span></h3><br>
            <p>5 GB/Day</p>
            <p>Unlimited Calls</p>
            <p>300 SMS/Day</p><br>
            <ul>
                <li>Free Hellotunes</li>
                <li>Xstream App</li>
                <li>Wynk App</li>
                <li>Hotstar Subscription</li>
                <li>Sun NXT Subcription</li>
            </ul>	
            <button type="submit" class="button" >Buy</button>		
        </div>
        <div class="grid-1-5">
            <h2>Enterprise</h2>
            <h3><sup>$</sup>480<span class="small">/1 month</span></h3><br>
            <p>Unlimited Net</p>
            <p>Unlimited Calls</p>
            <p>Unlimited SMS</p><br>
            <ul>
                <li>Free Hellotunes</li>
                <li>Xstream App</li>
                <li>Wynk App</li>
                <li>Hotstar Subscription</li>
                <li>Sun NXT Subcription</li>
                <li>Amazon Prime</li>
            </ul>
            <button type="submit" class="button" >Buy</button>
        </div>		
    </div>
</form>