<form (ngSubmit)="payment()">
    <br>
    <div class="container group">
        <div class="grid-1-5" *ngFor="let prod of myWireline">
            <h2 *ngIf="prod.recommended=='Consumer'">Basic Plan </h2>
            <h2 *ngIf="prod.recommended=='Small Business'">Super Plan </h2>
            <h2 *ngIf="prod.recommended=='Enterprise'">Premium Plan </h2>
            <h3><sup>$</sup>{{prod.pname}}<span class="small">/{{prod.validity}} days</span></h3><br>
            <div *ngFor="let j of prod.features">
                <p>{{j}}</p>
            </div>
            <br>
            <ul *ngFor="let i of prod.subproducts">
                <li>{{i.sname}}</li>
            </ul>
            <button type="submit" class="button" [routerLink]="['/customerLogin']">Buy</button>
        </div>
        		
    </div>
</form>