<form (ngSubmit)="payment()">
    <br>
    <div class="container group">
        <div class="grid-1-5">
            <h2>Consumer</h2>
            <h3><sup>$</sup>390<span class="small">/1 month</span></h3><br>
            <p>Unlimited data</p>
            <p>@ 30 Mbps</p>
            <br>
            <ul>
                <li>Discovery+</li>
                <li>Hoichoi</li>
            </ul>
            <button type="submit" class="button" >Buy</button>
        </div>
        <div class="grid-1-5">
            <h2>Consumer</h2>
            <h3><sup>$</sup>490<span class="small">/1 month</span></h3><br>
            <p>Unlimited data</p>
            <p>@ 40 Mbps</p><br>
            <ul>
                <li>Discovery+</li>
                <li>Hoichoi</li>
                <li>Xstream App</li>
            </ul>		
            <button type="submit" class="button" >Buy</button>	
        </div>
        <div class="grid-1-5">
            <h2>Small Business </h2>
            <h3><sup>$</sup>600<span class="small">/1 month</span></h3><br>
            <p>Unlimited data</p>
            <p>@ 60 Mbps</p><br>
            <ul>
                <li>Discovery+</li>
                <li>Hoichoi</li>
                <li>Xstream App</li>
                <li>Hotstar Subscription</li>
            </ul>	
            <button type="submit" class="button" >Buy</button>		
        </div>
        <div class="grid-1-5">
            <h2>Small Business </h2>
            <h3><sup>$</sup>800<span class="small">/1 month</span></h3><br>
            <p>Unlimited data</p>
            <p>@ 80 Mbps</p><br>
            <ul>
                <li>Discovery+</li>
                <li>Hoichoi</li>
                <li>Xstream App</li>
                <li>Hotstar Subscription</li>
                <li>Zee5</li>
            </ul>	
            <button type="submit" class="button" >Buy</button>		
        </div>
        <div class="grid-1-5">
            <h2>Enterprise</h2>
            <h3><sup>$</sup>1200<span class="small">/1 month</span></h3><br>
            <p>Unlimited data</p>
            <p>@ 120 Mbps</p><br>
            <ul>
                <li>Discovery+</li>
                <li>Hoichoi</li>
                <li>Xstream App</li>
                <li>Hotstar Subscription</li>
                <li>Zee5</li>
                <li>Sun NXT Subscription</li>
                <li>Amazon Prime</li>
            </ul>
            <button type="submit" class="button" >Buy</button>
        </div>		
    </div>
</form>